.container__big-card{
  width: 400px;
  height: 500px;
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.big-card__photo > img{
  width: 100%;
  min-width: 400px;
}

.big-card__title > h1 {
  margin-top: 15px;
  font-size: 22px;
}

.big-card__title h1 > a{
  color:white;
}

.big-card__title h1 > a:hover{
  color: rgba(255, 255, 255, 0.644);
}

.big-card__description > p {
  color: gray;
  margin-top: 7px;
  font-size: 15px;
}
