<div class="container__big-card">
  <div class="big-card__photo">
    <img src="../../../assets/1683561061810.jpg" width="400px" alt="Noticia Angular">
  </div>
  <div class="big-card__title">
    <h1><a href="#">Nova atualização do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>O framework Angular nos ultimos dias sofreu modificações e uma nova atualização do Angular foi estabelecida, com novas funcionalidades e tendências de uso para os desenvolvedores Angular. Diante a esse fato...</p>
  </div>
</div>
