
<div class="container__menu-title">
    <hr/>
    <h1>Post's Draggner</h1>
    <hr/>
    <div class="menu-title__content">
        <p>A aplicação Post's Draggner se resume a exposição de artigos fictícios, fantasia, ideias de desenvolvimento e possíveis futuras implementações desses temas. A seguir os tópicos abordam sobre essa exposição, fique à vontade para ler e explorar. Toda referência foi retirada com base do ChatGPT, com informações que forneci. Para assim, em próximas atualizações ampliar essas ideias.</p>
    </div>
</div>
