.container__small-card{
  width: 800px;

}

.container__small-card__content{
  display: flex;
  flex-direction: row;
}

.small-card__photo > img {
  width: 250px;
  margin-right: 30px;
}

.small-card__title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.small-card__title > h1 > a{
  color: white;
}

.container__small-card__separator{
  margin-bottom: 20px;
}

.container__small-card__separator > hr{
  width: 90%;
  height: 10px;
  margin-top: 10px;
}