<app-menu-title></app-menu-title>

<div class="container__articles">
  <!-- <h1>Em Andamento</h1> -->
  <div class="articles__main">
    <app-big-card
    Id="1" 
    cardTitle="O Conclave das Bruxas: Pactos Sombrios e Rituais Antigos"
    cardDescription="Adentre um mundo de bruxas poderosas que realizam pactos sombrios e seguem rituais antigos para obter poder além da compreensão humana."></app-big-card>
    <app-big-card
    Id="2"
    cardTitle="O Domínio das Sacerdotisas: Guardiãs da Magia Ancestral"
    cardDescription="Descubra o papel das sacerdotisas como guardiãs da magia ancestral, transmitindo segredos e conhecimentos místicos de geração em geração."></app-big-card>
  </div>
  <hr>
  <!-- <h1>Destaques</h1> -->
  <div class="articles__others">
    <app-small-card 
    Id="3"
    cardTitle="O Legado dos Feiticeiros: Feitiçaria Proibida e Poder Desenfreado"></app-small-card>
    <app-small-card
    Id="4"
    cardTitle="Além do Véu: Banshees e os Lamentos dos Condenados"></app-small-card>
    <app-small-card 
    Id="5"
    cardTitle="Reino das Trevas: Demônios e a Ascensão do Mal"></app-small-card>
    <app-small-card 
    Id="6"
    cardTitle="Reino das Trevas: Demônios e a Ascensão do Mal"></app-small-card>
    <app-small-card 
    Id="7"
    cardTitle="Culturas Perdidas: Mistérios e Ritos Ocultos"></app-small-card>
  </div>
</div>