<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">


  <div class="articles__main">
    <app-big-card 
    cardTitle="Nova Atualização do Angular Versão 120.0.2"
    cardDescription="A nova tenêndica de tecnologia do uso do Framework Angular atingie um nivel de versão mais aperfeicoada do que antes..."></app-big-card>
    <app-big-card cardTitle="Angular Framework vs React"
    cardDescription="Quais dessas tecnologias é o melhor a se utilizar? Angular o Framework pu React uma biblioteca, acredita-se que toda comunidade de React diz que é um framework..."></app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card cardTitle="Quais são as Vantagens e Desvatagens do Angular?"></app-small-card>
    <app-small-card cardTitle="Introdutizindo Componentes com  Angular"></app-small-card>
    <app-small-card cardTitle="IDE com a utilização do Angular!"></app-small-card>
  </div>
</div>