* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
  color: #1a1b1a;
  background-color: #121212;
  padding: 20px 30px 30px 30px;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}
